.background {
  height: 100vh;
  width: 100%;
  background-image: url("/register_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.right_div {
  width: 60%;
  height: 100vh;
}

.login_container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left_side {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100vh;
  background-color: #d7bbf2;
}

.login_card {
  width: 450px;
  border-radius: 18px !important;
}

.form_link {
  text-decoration: none;
  color: #6a1b9a;
  font-weight: 500;
}

.form_link:hover {
  text-decoration: underline;
}

.btn_group {
  display: flex;
  gap: 12px;
  margin-top: 12px;
  flex-wrap: wrap;
}

.login_btn,
.back_btn {
  flex: 1;
}

@media (max-width: 768px) {
  .login_container {
    display: block;
    height: auto;
  }

  .left_side {
    width: 100%;
    height: 100vh;
    background-image: url("/back_mob.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .right_div {
    display: none;
  }

  .login_card {
    width: 90%;
    max-width: 450px;
  }

  .btn_group {
    flex-direction: column;
  }

  .login_btn,
  .back_btn {
    width: 100%;
  }
}