.background {
    height: 100vh;
    width: 100%;
    background-image: url("/public/register_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.right_div{
    width: 60%;
    height: 100vh;
}



.login_container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left_side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100vh;
    background-color: #d7bbf2;
}


.login_card {
    width: 450px;
}

.login_btn {
    display: block;
    margin-left: auto;
    margin-top: 20px;
}



@media (max-width: 768px) {
    .login_container {
        display: block;
        height: auto;
    }

    .left_side {
        width: 100%;
        height: 100vh;
        background-image: url("/public/back_mob.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }

    .right_div {
        display: none;
    }

    .login_card {
        width: 90%;
        max-width: 450px;
    }

    .login_btn {
        width: 100%;
        margin-left: 0;
    }
}